@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
<link rel="stylesheet" href="~/css/signin.css">

@section topCSS{
    <style>
        body::-webkit-scrollbar {
            display: none;
        }
        body{
            margin-bottom: -60px;
        }
    </style>
}

<form id="account" method="post" class="box">
    <div class="form">
        <h2 class="m-0">Sign in</h2>

        <div class="inputBox my-2">
            <span>Email</span>
            <input asp-for="Input.Email" type="text" required="required">
            <i></i>
        </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        <div class="inputBox my-2">
            <span>Password</span>
            <input asp-for="Input.Password" type="password" required="required">
            <i></i>
        </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>

        <div class="checkbox">
            <label asp-for="Input.RememberMe" class="text-white">
                <input asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>

        <div class="links">
            <a id="forgot-password" asp-page="./ForgotPassword">Forget Password</a>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>
        </div>
        <div class="links">
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
        </div>
        <button type="submit" class="btn btn-warning">Log in</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
